# data manupulation with pandas

In [3]:
import pandas as pd # importing pandas as pd

In [ ]:
dataframe.head() # return 5 first rows from dataframe if passed n as a parameter then return n number of first rows from dataframe.

In [ ]:
dataframe.tail() # return 5 last rows from dataframe if paseed n as a parameter then return n number of last rows from dataframe.

In [ ]:
dataframe.info() # return information about dataframe.

In [ ]:
dataframe.shape # return (number of rows, number of colomn) as a tuple.

In [ ]:
dataframe.describe() # summary statistics about dataframe.

In [ ]:
dataframe.values # return all the rows of datafame.

In [ ]:
dataframe.columns # return all the column name in a dataframe.

In [ ]:
dataframe.index  # return number of rows in a dataframe.

In [ ]:
dataframe.sort_values("column_name") # sort dataframe based on column defult is ascending. 
dataframe.sort_values(["column_name_1","column_name_2"], ascending = [True, False]) # pass list of values when passing more than one value.

In [ ]:
dataframe["column_name"] # subsetting dataframe based on column

In [ ]:
dataframe[["column_name","column_name"]]# subsetting dataframe based on more than one column.
column_to_subset = ["column_name","column_name"]
dataframe[column_to_subset]

In [ ]:
condition = dataframe["column_name"] > numarical_value # subsetting datafame based on numarical value.
dataframe[condition]

In [ ]:
condition = dataframe["column_name"] == "string" # subsetting dataframe based on text value.
dataframe[condition]

In [ ]:
condition = dataframe["date_column"] == "date" # sebsetting dataframe based on date value.
dataframe[condition]

In [ ]:
condition1 = dataframe["column_name"] == "string" # subsetting based on multiple condition
condition2 = dataframe["date_column"] == "date"
dataframe[condition1 & condition2] 
# subsetting dataframe based on multiple condition warap each condition inside the ()
dataframe[(dataframe["colum_name"] == "string") & (dataframe["column_name"] == "string")]

In [ ]:
condition = dataframe["column_name"].isin("string") # using isin method to subset the dataframe
condition = dataframe["column_name"].isin(["string_1","string_2"])
dataframe[condition]

In [ ]:
dataframe["column_name"] = dataframe["column_name"] / 100 # creating column based on existing column

In [ ]:
dataframe["column_name"].mean() # mean of the column

In [ ]:
dataframe["column_name"].mode() # mode of the column

In [ ]:
dataframe["column_name"].median() # median of the column

In [ ]:
dataframe["column_name"].min() # min of the column

In [ ]:
dataframe["column_name"].max() # max of the column

In [ ]:
dataframe["column_name"].var() # var of the column

In [ ]:
dataframe["column_name"].std() # std of the column

In [ ]:
dataframe["column_name"].quantile() # quantile of the column

In [ ]:
dataframe["column_name"].sum() # sum of the column

In [ ]:
dataframe["column_name"].agg(function) # agg method take the function apply it to the respecive data and return the result
dataframe["column_name"].agg([function,function])

In [ ]:
dataframe["column_name"].cumsum() # return a column that is aggregation of values of that column

In [ ]:
dataframe["column_name"].cummin() # return a column that is min of that column

In [ ]:
dataframe["column_name"].cummax() # return a column that is max of that column

In [ ]:
dataframe["column_name"].cumprod() # return a column that is product of values of that column

In [ ]:
dataframe.drop_duplicates(subset="column_name") # drop duplicates values based on given column 
dataframe.drop_duplicates(subset=["column_name_1","column_name_2"])

In [ ]:
dataframe["column_name"].unique() # return unique values

In [ ]:
dataframe["column_name"].value_counts() # count the number of values
dataframe["column_name"].value_counts(sort=True) # count the number of values and sort the results
dataframe["column_name"].value_counts(normalize=True) # count the number of values and normalize the result

In [ ]:
dataframe.groupby("colum_name")["column_name"].mean() # group by based on given column then subset the result then find the summary statistics
dataframe.groupby("colum_name")["column_name"].agg(["min","max","sum"]) # use this method to apply more than one function
groupby(["column_name","column_name"])["column_name"].agg(["min","max","sum"])
groupby(["column_name","column_name"])[["column_name","column_name"]].agg(["min","max","sum"])

In [ ]:
dataframe.pivot_table(values = "column_name", index = "column_name", aggfunc = function) # creating pivot table and applying aggigation function 
dataframe.pivot_table(values = "column_name" # value we are looking for
                      , index = "column_name" # row index of the table
                      , columns = "column_name" # column of the table
                      , aggfunc = [function, function] # function
                      , fil_value = 0 # fill the value when there is no  value
                      , margins = True # all column that sum all values)
dataframe.pivot_table().mean(axis = "index") # summary statistics across row 
dataframe.pivot_table().mean(axis = "columns") # summary statistics across column

In [ ]:
dataframe.set_index(["column_name","column_name"]) # setting the index by column

In [ ]:
dataframe.reset_index() # remove column indexing

In [ ]:
dataframe.reset_index(drop = True) # completely remove indexed column

In [ ]:
dataframe.loc["string"] # selecting row by in a dataframe which is indexed by text data type column
dataframe.loc[["string","string"]] # same as previous one buy indexed by two text data type columns
dataframe.loc[[("column_1","column_2"),("column_1","column_2")]] # subsetting data two indexed columns

In [ ]:
dataframe.sort_index() # sorting index
dataframe.sort_index(level = ["column_1","column_2"], ascending = [True, False])

In [ ]:
list[start:stop:step] # scilicing the list

In [ ]:
dataframe.loc["indexed_row":"indexed_row"] # subsetting outer level final value included
dataframe.loc[("column_1","column_2"),("column_1","column_2")] # subsetting two text column indexed dataframe
dataframe.loc[:,"column_name": "column_name"] # subsetting the dataframe by column_name all the rows included
dataframe.loc[("column_1","column_2"):("column_1","column_2"),"column_name": "column_name"]
dataframe.loc["date_data":"date_data"] subsetting based on date indexed column

In [ ]:
dataframe.iloc[:,:] # subsetting dataframe based on numeric index

In [ ]:
dataframe.isna() # return true if there is a null value

In [ ]:
dataframe.dropna() # dropping the na value rows

In [ ]:
dataframe.fillna(0) # filling the given value if there is a na value

In [ ]:
dataframe.isna().any() # return true if there is a null value, if there is at least one true value any method return a true boolean value

In [ ]:
dataframe["column_name"].hist(bins = 5, alpha = 0.7) # creating a histogramme, bin argument is number of argument, alpha is transparancy 
plt.show() # show the plot

In [ ]:
dataframe["column_name"].plot(kind = "bar", title = "title_of_the_bar_plot") # creating a bar plt

In [ ]:
dataframe.plot(x = "column_name", y = "column_name", kind = "line", rot = 45 ) # creating a line plot rot argument for rotating the xlabel

In [ ]:
dataframe.plot(x = "column_name", y = "column_name", kind = "scatter") # creating a scatter plot

In [15]:
# creating a dictionary row by row
list_of_dicts = [
   {"name" : "value_1", "key_2" : "value_2", "keys_3" : "value_3"},
   {"name" : "value_1_1", "key_2" : "value_2_2", "keys_3" : "value_3_3"}
]
dataframe = pd.DataFrame(list_of_dicts)

In [13]:
# creating a dictionary by column by column 
dict_of_lists = {
    "key_1" : ["value_1", "value_2", "value_3"],
    "key_2" : ["value_1_1", "value_2_2", "value_3_3"]
}
dataframe = pd.DataFrame(dict_of_lists)

In [ ]:
dataframe = pd.read_csv("file_name") # reading the data
dataframe.to_csv("file_name") # outputting data as a csv file

# Reshaping Data with Pandas

In [ ]:
dataframe.transpose() # transposing the dataframe column become row and vice versa

In [ ]:
# long to wide
dataframe.pivot(index = "column_name", # row index
               columns = "column_name", # column name of the resulted dataframe
               values = "column_name") # row values

In [ ]:
# dropping column or row
datafame.drop(index = 2, axis = 0, inplace = true) # index of the row or column axis is across row or column, inplace argument change the dataframe

In [ ]:
# by this function we can aggregate data
# if wan to pass multiple column_name pass it as a list of string values
dataframe.pivot_table(index = "column_name", columns = "column_name", values = "column_name" aggfunc = "mean", margins = True) # aggregation function

In [ ]:
# wide to long 
dataframe.melt(id_vars = ["column_name","column_name"], # index column
               value_var = ["column_name","column_name"], # long format dataframe variables
               var_name = "variables", # variable column name
               value_name = "value") # value column name

In [ ]:
# wide to long 
pd.wide_to_long(data = dataframe, # data  
               stubnames = ["column_name","column_name"], # column 
               i = "column_name", # row index
               j = "column_name", # row index from value column
               sep = "_", # separator
               suffix = "\W+") # if the seperating column is text

In [ ]:
dataframe["column_name"].str.split(":").str.get(0) # converting to string splitting

In [ ]:
dataframe[["column_name","column_name"]] = dataframe["column_name"].str.split(":", expand = True) # splitting data assign it to two data frame

In [ ]:
dataframe["column_name"].str.cat(dataframe["column_name"], sep = " ") # concatinatting two text columns

In [ ]:
# setting multi index
dataframe.set_index(["column_name","column_name"], inplace = True) # setting index and changing dataframe by inplace method 

# indexing  from an array
array = [["string","string","string"],["string","string","string"]]
dataframe.index = pd.MultiIndex.from_arrays(array, names = ["index_column_name", "index_column_name"])

In [ ]:
# creating a dataframe by array index and column labels 
index = pd.MultiIndex.from_arrays([["string","string","string"],["string","string","string"]], names = ["index_column_name","index_column_name"])
columns = pd.MultiIndex.from_arrays([["column_name","column_name"],["column_name","column_name"]], names = ["column_name","column_name"])
dataframe = pd.DataFrame(data, index = index, columns = columns)

In [ ]:
# rearrage a level of the columns to obtain a reshaped dataframe with a new inner-most level row index 
dataframe_stacked = dataframe.stack()
dataframe_stacked = dataframe.stack(level = 0) # by level
dataframe_stacked = dataframe.stack(level = [0,1]) # stakking multiple level
dataframe_stacked = dataframe.stack(level = "column_name") # by column name
dataframe_stacked = dataframe.stack(level = ["column_name","column_name"]) # stakking multiple level

In [ ]:
# rearrange a level of the row index into the columns to obtain a reshaped Data frame with a new inner most level column_index
dataframe = dataframe_stacked.unstack() 
dataframe = dataframe_stacked.unstack(level = 1) # by number 
dataframe = dataframe_stacked.unstack(level = [1,2]) # unstakking multiple level
dataframe = dataframe_stacked.unstack(level = "column_name")  # by column_name
dataframe = dataframe_stacked.unstack(level = ["column_name","column_name"]) # unstakking multiple level
dataframe.unstack(level = 1).stack(level = 0)

In [ ]:
# swapping the index level 
dataframe.swaplevel(0,2) # swapping the index level one ad three 
dataframe.swaplevel(0,2, axis = 1) # using axis argument 
dataframe.swaplevel(0,2).unstack() # swapping  level and unstakking

In [ ]:
# if sub groupe do not have the same set of labels it create na values
dataframe.unstack(level = "column_name", fill_value = "no") # custom value for na

In [ ]:
# staking and stats
dataframe.stack().sum(axis=1) #  stakking the dataframe and sum across online column
dataframe.stack().sum(axis=1).unstack() # stakking then aggragating values and unstakking
dataframe["column_name"].unstack(level = "column_name").diff(axis = 1)
dataframe.stack().groupby(level = "column_name").sum()
dataframe.groupby(level = 1).median().stack(level = [0,1]).unstack(level = "column_name")

In [ ]:
# Transforming a list like a column 
dataframe_exploded = dataframe["column_name"].explode()
dataframe[["column_name", "column_name"]].merge(dataframe_exploded, left_index = True, Right_index = True)

In [ ]:
# chaning operations
dataframe["column_name"].str.split(",",expand = True)
dataframe.assign(resulted_column_name = dataframe["column_name"].str.split(",")).explode("column_name")

In [ ]:
# data normalization with pandas Json data
from pandas import json_normalize
dataframe = json_normalize(json_data, sep = "_")

In [ ]:
# altering wide to long format dataframe
pd.wide_to_long(dataframe, stubnames = ["column_name"], i = ["column_name","column_name"], j = "feature", spe = "_", suffix = "\w+")

In [ ]:
# parsing complex json 
json_normalize(json_data, record_path = "column_name", meta = ["column_name", "column_name"])

In [ ]:
# conveting nested data
dataframe = nested_dataframe["nested_column_name"].apply(json.loads).apply(pd.Series)
# then drop the nested column and concatinate with the dataframe

#